<p>
  <label><%= l(:label_git_base_url) %></label>
  <%= text_field_tag 'settings[git_base_url]', @settings['git_base_url'], placeholder: 'https://repo.daou.co.kr', size: 60 %>
</p>

<p class="description">
  <%= l(:text_git_base_url_description) %>
</p>
